======================================================
registry=https://europe-npm.pkg.dev/chattermill-245010/cm-npm/
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:_password="eWEyOS5hMEFmSDZTTUR5TFlPblFkSHVacGpqUTliMjAzcDJ6akpCQmxLTHVnTXo0R01EUEU5dndlZmgtYU54TFJVY2VWbHdTWVpZcHYwTXFWOEt3RC1MUXZvbmJwTnA1Q0N1eGs5ZGxZT1VmY3NINUd6Y3JLTzNIYmEyYm5YRUJRZDdtQmVzTXp6QW03Z2s0X0xPWk1UbDgxUVFkSk5iTk9xS3U3U3FEWFE="
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:username=oauth2accesstoken
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:email=not.valid@email.com
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:always-auth=true
======================================================

